.header {
    background-color: #158bb9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
  }
  
  .logo {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .authLinks {
    display: flex;
    align-items: center;
  }
  
  .loginButton {
    background: none;
    border: none;
    color: #ffffff;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .trialButton {
    background-color: #021224;
    border: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .logo{
    text-decoration: none;
  }