
.footer {
  display: flex;
  flex-direction: column;
  width: 98vw;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.socialsAndStores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin: 30px;
  font-size: 12px;
  line-height: 1.5;
}

.links a:last-child {
  margin-right: 0;
}

.copyRight {
  font-size: 12px;
  margin: 30px;
}

.socialLinks a,
.storeLinks a {
  margin-right: 20px;
}

.socialLinks a img,
.storeLinks a img {
  width: auto;
  height: 20px;
}

.storeLinks a img {
  height: 40px;
}


@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .links,
  .socialsAndStores {
    flex-direction: column;
  }

  .links a {
    margin: 10px;
  }

  .socialLinks a,
  .storeLinks a {
    margin: 10px 10px;
  }

  .copyRight {
    margin-top: 20px;
  }
}


.links a:hover,
.socialLinks a:hover {
  opacity: 0.7;
}

.storeLinks a:hover {
  transform: scale(1.05);
}
